<mat-toolbar class="header-toolbar" color="primary">
  <h1>
    Metadater
    <mat-icon>accessible_forward</mat-icon>
  </h1>
  <button mat-raised-button [matMenuTriggerFor]="toolbarMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #toolbarMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="openMetadataSelection()">Load metadata</button>
      <button mat-menu-item (click)="openFeatureFileSelection()">Load feature file</button>
      <button mat-menu-item (click)="openTestResultSelection()" [disabled]="!testMetadata">
        Add missing tests from XML
      </button>
      <button mat-menu-item (click)="loadBackup()" [disabled]="!hasBackup">Load backup metadata</button>
    </ng-template>
  </mat-menu>

  <input hidden type="file" accept=".feature" (change)="loadFeatureFile()" #featureFileInput />
  <input hidden type="file" accept=".json" (change)="loadMetadata()" #metadataFileInput />
  <input hidden type="file" accept=".xml" (change)="loadTestResult()" #testResultFileInput />

  <button [disabled]="!testMetadata" mat-raised-button color="accent" (click)="saveMetadata()">Save metadata</button>

  <mat-chip-list>
    <mat-chip selected color="{{ featureLoaded ? '' : 'warn' }}">Feature: {{ featureStatus }}</mat-chip>
    <mat-chip selected color="{{ testMetadata ? '' : 'warn' }}">Metadata: {{ metadataStatus }}</mat-chip>
  </mat-chip-list>
</mat-toolbar>
<mat-tab-group (animationDone)="changeColumnMode()">
  <mat-tab label="Scenarios">
    <ng-template matTabContent>
      <ngx-datatable
        class="material"
        [columns]="scenariosColumns"
        [rows]="scenarios"
        [columnMode]="'flex'"
        [limit]="10"
        [footerHeight]="'auto'"
        [headerHeight]="35"
        [rowHeight]="'auto'"
      ></ngx-datatable>
    </ng-template>
  </mat-tab>

  <mat-tab label="Tests">
    <ng-template matTabContent>
      <div class="toolbar-flex tab-toolbar">
        <button [disabled]="!testMetadata" mat-mini-fab matTooltip="Add new test" (click)="addItem(columnIds.Test)">
          <mat-icon>note_add</mat-icon>
        </button>

        <mat-form-field>
          <input placeholder="Filter" matInput [(ngModel)]="filters.Test" />
        </mat-form-field>
      </div>

      <button
        mat-button
        #contextMenuTrigger
        [matMenuTriggerFor]="contextMenu"
        id="menuButton"
        style="display:none; position:absolute;"
      ></button>
      <ngx-datatable
        class="material"
        [columns]="testsColumns"
        [rows]="tests"
        [columnMode]="'flex'"
        [limit]="10"
        [footerHeight]="'auto'"
        [headerHeight]="35"
        [rowHeight]="'auto'"
        (tableContextmenu)="onTableContextMenu($event)"
      ></ngx-datatable>
    </ng-template>
  </mat-tab>

  <mat-tab label="RDDs">
    <ng-template matTabContent>
      <div class="toolbar-flex rdd-toolbar">
        <button [disabled]="!testMetadata" mat-mini-fab color="primary" matTooltip="Add new RDD" (click)="addNewRDD()">
          <mat-icon>add</mat-icon>
        </button>
        <button [disabled]="!selectedRDD" mat-mini-fab matTooltip="Edit selected RDD" (click)="editRDD()">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          [disabled]="!selectedRDD"
          mat-mini-fab
          matTooltip="Add new requirement to selected RDD"
          (click)="addItem(columnIds.Requirement)"
        >
          <mat-icon>note_add</mat-icon>
        </button>
        <button
          [disabled]="!selectedRDD"
          mat-mini-fab
          color="warn"
          matTooltip="Remove selected RDD"
          (click)="removeRDD()"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <mat-form-field [floatLabel]="'true'">
          <mat-select placeholder="Release" [(ngModel)]="selectedRDD">
            <mat-option *ngFor="let rdd of RDDs" [value]="rdd">{{ rdd.Release }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedRDD">
          <input placeholder="Filter" matInput [(ngModel)]="filters.Requirement" />
        </mat-form-field>
      </div>
      <ngx-datatable
        *ngIf="selectedRDD"
        class="material"
        [columns]="requirementsColumns"
        [rows]="requirements"
        [columnMode]="'flex'"
        [limit]="10"
        [footerHeight]="'auto'"
        [headerHeight]="35"
        [rowHeight]="'auto'"
        (select)="editRequirement($event)"
      ></ngx-datatable>
    </ng-template>
  </mat-tab>

  <mat-tab label="Designs">
    <ng-template matTabContent>
      <div class="toolbar-flex tab-toolbar">
        <button [disabled]="!testMetadata" mat-mini-fab matTooltip="Add new Design" (click)="addItem(columnIds.Design)">
          <mat-icon>note_add</mat-icon>
        </button>

        <mat-form-field>
          <input placeholder="Filter" matInput [(ngModel)]="filters.Design" />
        </mat-form-field>
      </div>
      <ngx-datatable
        class="material"
        [columns]="designsColumns"
        [rows]="designs"
        [columnMode]="'flex'"
        [limit]="10"
        [footerHeight]="'auto'"
        [headerHeight]="35"
        [rowHeight]="'auto'"
      ></ngx-datatable>
    </ng-template>
  </mat-tab>

  <mat-tab label="User Stories">
    <ng-template matTabContent>
      <div class="toolbar-flex tab-toolbar">
        <button
          [disabled]="!testMetadata"
          mat-mini-fab
          matTooltip="Add new User Story"
          (click)="addItem(columnIds.UserStory)"
        >
          <mat-icon>note_add</mat-icon>
        </button>

        <mat-form-field>
          <input placeholder="Filter" matInput [(ngModel)]="filters.UserStory" />
        </mat-form-field>
      </div>
      <ngx-datatable
        class="material"
        [columns]="userStoriesColumns"
        [rows]="userStories"
        [columnMode]="'flex'"
        [limit]="10"
        [footerHeight]="'auto'"
        [headerHeight]="35"
        [rowHeight]="'auto'"
      ></ngx-datatable>
    </ng-template>
  </mat-tab>

  <mat-tab label="Features">
    <ng-template matTabContent>
      <div class="toolbar-flex tab-toolbar">
        <button
          [disabled]="!testMetadata"
          mat-mini-fab
          matTooltip="Add new Feature"
          (click)="addItem(columnIds.Feature)"
        >
          <mat-icon>note_add</mat-icon>
        </button>

        <mat-form-field>
          <input placeholder="Filter" matInput [(ngModel)]="filters.Feature" />
        </mat-form-field>
      </div>
      <ngx-datatable
        class="material"
        [columns]="featuresColumns"
        [rows]="features"
        [columnMode]="'flex'"
        [limit]="10"
        [footerHeight]="'auto'"
        [headerHeight]="35"
        [rowHeight]="'auto'"
      ></ngx-datatable>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #actionCellTemplate let-row="row" let-column="column">
  <div class="action-buttons">
    <button mat-button color="warn" (click)="removeItem(column.prop, row)">
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button mat-button (click)="editItem(column.prop, row)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #usedInTestsCellTemplate let-row="row" let-column="column">
  <span>{{ getUsageInTests(column.prop, row) }} tests</span>
</ng-template>

<ng-template #multiselectCellTemplate let-row="row" let-column="column">
  <mat-form-field class="chip-list" *ngIf="testMetadata" (contextmenu)="setContextProp(column.prop)">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let value of getValues(row.Id, column.prop)"
        [selectable]="'false'"
        [removable]="'true'"
        (removed)="removeValue(row.Id, column.prop, value)"
      >
        <span title="{{ value }}" class="chip-value">{{ value }}</span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #input
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="'true'"
        (matChipInputTokenEnd)="addValue(row.Id, column.prop, $event, input)"
        (mousedown)="filterAutocompleteEvent($event)"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addValue(row.Id, column.prop, $event, input)">
      <mat-option *ngFor="let option of getOptions(row.Id, column.prop, input.value)" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-template>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="copy()">
      <mat-icon>file_copy</mat-icon>
      <span>Copy</span>
    </button>
    <button mat-menu-item (click)="paste()" [disabled]="pasteDisabled">
      <mat-icon>assignment</mat-icon>
      <span>Paste</span>
    </button>
    <button mat-menu-item (click)="clear()">
      <mat-icon>delete</mat-icon>
      <span>Clear</span>
    </button>
  </ng-template>
</mat-menu>
